.container {
    display: flex;
    justify-content: top-center;
    align-items: center;
    height: 10vh;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #333333;
    color: #00FF00;
}