* {
  box-sizing: border-box;
}

.admin-wrapper {
  background: linear-gradient(135deg, #1c1c3c, #3a3a80);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.control-panel {
  flex: 1;
  display: flex;
  padding: 200px;
}

.main-panel {
  flex: 2;
  border: 0px solid #ccc;
  margin-right: 500px;
  border-radius: 80px;

  height: 65%;
}

.side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-box, .bottom-box {
  flex: 1;
  border: 0px solid #ccc;
  border-radius: 80px;

  height:65%;
}

.extra-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}
