#name: CI
#
#on:
#  push:
#    branches: ["front-dev"]
#  pull_request:
#    branches: ["front-dev"]
#
#jobs:
#  run-tests:
#    strategy:
#      fail-fast: false
#      matrix:
#        os:
#          # - ubuntu-latest
#          # - macos-latest
#          - windows-latest
#        python-version:
#          - "3.12"
#    name: Test
#    runs-on: ${{ matrix.os }}
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#      - name: Set up Python
#        uses: actions/setup-python@v3
#        with:
#          python-version: ${{ matrix.python-version }}
#      - name: Install Dependencies
#        run: |
#          python -m pip install --upgrade pip
#          pip install -r backend/requirements.txt
#      - name: Run unit tests
#        run: |
#          pytest tests/unit_tests
#

name: CI

on:
  push:
    branches: ["front-dev"]
  pull_request:
    branches: ["front-dev"]

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - ubuntu-latest
          # - macos-latest
          - windows-latest
        python-version:
          - "3.12"
    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
      - name: Run unit tests
        run: |
          pytest tests/unit_tests --ignore=tests/unit_tests/backend/app/api/services/register_services
